
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9
  creationTimestamp: null
  name: pipelines.spinnaker.kaidotdev.github.io
spec:
  group: spinnaker.kaidotdev.github.io
  names:
    kind: Pipeline
    listKind: PipelineList
    plural: pipelines
    singular: pipeline
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.spinnakerResource.applicationName
      name: SPINNAKER-APPLICATION-NAME
      type: string
    - jsonPath: .status.spinnakerResource.id
      name: SPINNAKER-PIPELINE-ID
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: Pipeline is the schema for Spinnaker Pipeline
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RawMessage is a raw encoded JSON value. It implements Marshaler
              and Unmarshaler and can be used to delay JSON decoding or precompute
              a JSON encoding.
            format: byte
            type: string
          status:
            description: PipelineStatus defines the observed state of Pipeline
            properties:
              conditions:
                items:
                  description: PipelineCondition defines condition struct
                  properties:
                    status:
                      type: string
                    type:
                      description: PipelineConditionType defines codition type
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              hash:
                type: string
              spinnakerResource:
                description: SpinnakerPipelineResource defines the resource of Spinnaker
                properties:
                  applicationName:
                    type: string
                  id:
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
